.plan{
    padding: 80px 0 150px 0;
    background-color: $gray-light-color;
    &-header{
        margin: 0 auto 60px;
    }
    &-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 50px;
    }
    &-item{
        background: #FFFFFF;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        padding: 80px 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-item.is-active,&-item:hover{
        border-color: $primary-color;
        .button{
            background-color: $primary-color;
            color: white;
        }
    }
    &-image img{
        margin: 0 auto 30px;
    }
    &-title{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    &-info{
        display: flex;
        align-items: center;
        gap: 0 25px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: calc(30/14);
    }
    &-details{
        margin-bottom: 50px;
    }
    &-price{
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 30px;
        margin-top: auto;
    }
}

@media screen and (max-width: 1023.98px) {
    .plan{
        padding: 50px 0;
    }
    .plan-list{
        grid-template-columns: 70%;
        justify-content: center;
        grid-gap: 30px 0;
    }
}

@media screen and (max-width: 767.98px) {
    .plan{
        padding: 50px 0;
    }
    .plan-list{
        grid-template-columns: 90%;
        justify-content: center;
        grid-gap: 30px 0;
    }
    .plan-item{
        padding: 60px 50px 50px;
    }
}

